
body{
    background:  #fff;
}
.feature-box{
    margin-top: 7%;
}
#title{
    display: block;
}    
    /* Features */

#features{
    display: block;
    padding: 7% 15%;
}
.feature-box{
    padding: 5%;
    text-align: center;
    margin-left: 7%;
}


